/* style sheet for to-do list // landonisonline */
 
 *{
			color: #FFFFFF;
			font-family: Arial, Helvetica, sans-serif;
		}

		body, html {
			height: 100%;
		}

		body {
			background-size: cover;
			background-color: rgb(120, 61, 214);
			background-image: linear-gradient(rgb(120, 61, 214), rgb(28, 7, 119));
		}

		.header {
			color: rgb(255, 255, 255);
			font-size: 75px;
			font-style: italic;
			font-weight: bold;
		}

		.field-label {
			color: rgb(255, 255, 255);
		}
		li {
			color: #F2C145;
			font-size: 25px;
			margin-bottom: 15px;
			font-style: italic;
		}

		#item {
			color: black;
		}

		button {
			color: #000000;
		}

		li button {
			color: #000000;
			font-size: 20px;
			margin-left: 20px;
		}
